.title{
    color:#ffffff;
    padding-left: 40px;
    padding-top: 80px;
    text-align: left;
    

}
.hyperlink{

    padding-right: 40px;
    text-align: right;
    font-size: 18px;
}
a {
    text-decoration: none;
    color:#ffffff
}
.home{
    background-image: url('nyberg_moon.jpg');
}
.openingmessage{
    padding-top: 500px;
    padding-bottom: 500px;
    text-align: center;
    color:#ffffff;
}