.title{
    padding-left: 40px;
    padding-top: 40px;
    text-align: left;
    background-image: 'nyberg_moon.jpg';
}
.hyperlink{
    padding-top: -80px;
    padding-right: 40px;
    text-align: right;
    font-size: 18px;
}
a {
    text-decoration: none;
    color:#000000
}