.title{
    color:#ffffff;
    padding-left: 40px;
    padding-top: 80px;
    text-align: left;
    

}
.hyperlink{

    padding-right: 40px;
    text-align: right;
    font-size: 18px;
}
a {
    text-decoration: none;
    color:#ffffff
}
.home{
    
    background-image: url('/Users/alejandropasillas/Library/Mobile Documents/com~apple~CloudDocs/Internship:Job/Mywebsite/nyberg_moon.jpg');
    background-size: cover;

}
.openingmessage{
    padding-top: 400px;
    padding-bottom: 500px;
    text-align: center;
    color:#ffffff;
}
h1{
    font-size: 50px;
}
img{
    width: 500px;
    height: auto;
}